<%= form_for @post,html: { multipart: true } do |f| %>
	<div class="form-group">
		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title, :class=>"form-control" %>
		</p>
	</div>

	<div class="form-group">
		<p>
			<%= f.label :image %><br>
			<%= f.file_field :image %>
		</p>
	</div>
	
	<div class="form-group">
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body, :class=>'form-control', :rows=>'8' %>
		</p>
	</div>

	<p>
		<%= f.submit "Submit" , :class=>'btn btn-primary custom'%>
		<%= link_to "Cancel", root_path , :class=>'btn btn-primary customs', :style=>'margin-left:5px'%>
	</p>
<% end %>