<br>
<h4><%= @post.title %></h4>
<p><%= time_ago_in_words(@post.created_at)%> ago
	<%= link_to "Edit", edit_post_path, :class=>'badge badge-info' %>
	<%= link_to "Delete", post_path, method: :delete, data:{confirm:'Are you sure?'},:class=>'badge badge-danger' %>
	<%= link_to "Back", root_path, :class=>'badge badge-success' %>
</p>
<p class="text-justify"><%= @post.body %></p>
<hr>
<strong><%= @post.comments.count %> Comments</strong>
<hr>
<%= render @post.comments %>
<hr>
<p><strong>Add a new comment:</strong></p>
<%= render 'comments/form'%>